@import "default/utilities/colors";

footer {
  background-color: $marine_dark_blue;
  color: $white;
  border-bottom: 15px solid $marine_green;
  font-family: 'PT Sans', sans-serif;
  font-size: 1em;

  h1, a {
    color: $white;
    font-size: 1em;
    font-weight: 700;
  }

  a:focus, a:hover {
    color: $marine_green;
  }
}
