@import "default/utilities/colors";

nav {
  border-bottom: 1px solid $light_grey;
  box-shadow: 3px 0px 5px $light_grey;
}

.logo {
  height: 50px;
}

.nav-link {
  line-height: 3em;
  width: 90px;
  text-align: center;

  &:last-child {
  //  padding-right: 0em;
  }

  a:hover, a:focus {
  }

}
