<div class="row">
  <div class="container">
    <div class="col-lg-12">
      <h1>News</h1>
      <h6> <%= @page.content(:text).try(:html_safe) %> </h6>
    </div>
  </div>
</div>


<div class="row">
  <div class="container">
    <div class="col-lg-8">
      <% if @page.children.any? %>
        <% @page.children.each do |child| %>
          <%= render partial: 'alderney/shared/news_article_preview_card', locals: { article: child } %>
        <% end %>
      <% else %>
        <p>There is no new yet, please check back soon</p>
      <% end %>
    </div>
    <div class="col-lg-4 col-grey relevant-resources">
      <h5>Other news sources</h5>
      <hr class="hr-light">
      <%= @page.content(:useful_links).try(:html_safe) %>
    </div>
  </div>
</div>

