<footer>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3 my-2 text-xs-center text-md-left">
      <%= image_tag 'logo-white.jpg', class: 'logo' %>
    </div>

    <div class="col-xs-12 col-md-3 my-2 text-xs-center text-md-left">
      States of Alderney<br>
      PO Box 1001, Alderney<br>
      GY9 3AA<br>
      Channel Islands
    </div>
    <%#<div class="col-xs-12 col-md-3 my-2 text-xs-center text-md-left">%>
      <%#<a href="mailto:info@alderney.gov.gg">info@alderney.gov.gg</a><br>%>
      <%#<a href="tel:+441481822811">tel: +44 (0)1481 822811</a><br>%>
      <%#<a href="fax:+441481822436">fax: +44 (0)1481 822436</a>%>
    <%#</div>%>
    <div class="col-xs-12 col-md-3 my-2 text-xs-center text-md-left">
      <a href="mailto:info@alderneymarineforum.com">info@alderneymarineforum.com</a><br>
      <%= link_to 'https://www.facebook.com/statesofalderney/' do %>
        <i class='fa fa-facebook'></i> statesofalderney
      <% end %>
      <br>
      <%= link_to 'https://twitter.com/states_alderney' do %>
        <i class='fa fa-twitter'></i> states_alderney
      <% end %>
    </div>
  </div>
</div>
</footer>

