<footer>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3 my-2 text-xs-center text-md-left">
      <%= image_tag 'logo-white.jpg', class: 'logo' %>
    </div>

    <div class="col-xs-12 col-md-3 my-2 text-xs-center text-md-left">
      Alderney Harbour Office<br>
      The Quay<br>
      Alderney<br>
      GY9 3XX<br>
    </div>
    <div class="col-xs-12 col-md-3 my-2 text-xs-center text-md-left">
      <a href="mailto:info@alderneymarineforum.org">info@alderneymarineforum.org</a><br>
      <a href="tel:+441481822231">+44 (0)1481 822231</a>
    </div>
  </div>
</div>
</footer>

