<footer>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3 my-2 text-xs-center text-md-left">
      <%= image_tag 'logo-white.jpg', class: 'logo' %>
    </div>

    <div class="col-xs-12 col-md-3 my-2 text-xs-center text-md-left">
      <h1>Contact</h1>
      Brett Curtis<br>
      South Mercedesview<br>
      9333 Sibyl Trace Apt. 978<br>
      <a href="mailto:brett.curtis@loyce.biz">brett.curtis@loyce.biz</a>
    </div>

    <div class="col-xs-12 col-md-3 my-2 text-xs-center text-md-left">
      <h1>Contact</h1>
      Brett Curtis<br>
      South Mercedesview<br>
      9333 Sibyl Trace Apt. 978<br>
      <a href="mailto:brett.curtis@loyce.biz">brett.curtis@loyce.biz</a>
    </div>
  </div>
</div>
</footer>

