<div class="container">
  <div class="row text-xs-center">
    <div class="col-lg-8 offset-lg-2">
      <h1>Thank you</h1>
      <h2>Your email has been submitted</h2>
      <%= link_to 'Back to home page', '/', class: 'btn btn-primary' %>
    </div>
  </div>
</div>
