<div class="row my-2">
  <div class="container">
    <div class="col-lg-3">
      <%= image_tag 'http://placehold.it/250x600' %>
    </div>
    <div class="col-lg-9">
      <%= @page.content(:text).try(:html_safe) %>
    </div>
  </div>
</div>

<div class="row row-grey">
  <div class="container">
    <div class="col-lg-8 offset-lg-2 my-2">
      <%= @page.content(:text).try(:html_safe) %>
    </div>
  </div>
</div>
